# Ignore all data
Data/

# Ignore models
Models/
Models/*.pkl
Models/*.h5

# Ignore all pickle and CSV files (anywhere in repo)
*.pkl
*.csv

# Python cache files
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# System files (Windows)
Thumbs.db
.DS_Store