APP_NAME="AI Cybersecurity"
APP_VERSION="1.0.0"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES = ["csv", "json", "txt", "text/plain", "text/csv", "application/csv", "application/pdf"]
FILE_MAX_SIZE = 10
FILE_DEFAULT_CHUNK_SIZE = 512000 # 512 KB in bytes, adjust as needed for optimal performance and memory usage

# MONGODB_URL = "mongodb://localhost:27017"
# MONGODB_DATABASE = "AI-cybersecurity-app"
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DATABASE="AI_cybersecurity"


GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "OPENAI"

OPENAI_API_KEY=""
OPENAI_API_URL=

GENERATION_MODEL_ID="gpt-3.5-turbo-0125"
EMBEDDING_MODEL_ID="text-embedding-3-small"
EMBEDDING_MODEL_SIZE=384

INPUT_DAFAULT_MAX_CHARACTERS=1024
GENERATION_DAFAULT_MAX_TOKENS=200
GENERATION_DAFAULT_TEMPERATURE=0.1

# Vector DB Config
VECTOR_DB_BACKEND =
VECTOR_DB_PATH =
VECTOR_DB_DISTANCE_METHOD =

# Template Configs
PRIMARY_LANG = "en"
DEFAULT_LANG = "en"
